* {
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
  margin: 0;
}

body {
  background-color: #F3F6FD;
}

.container {
  display: flex;
}

.content {
  // padding-right: 70px;
  width: 1700px;
}

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&display=swap");
@import "./variables.scss";
@import "blocks/panel";
@import "blocks/menu";
@import "blocks/header";
@import "blocks/progress";
@import "blocks/habbit";
@import "blocks/main";
@import "blocks/input";
