.habbit {
  box-shadow: 0 4px 7px rgba(16, 36, 87, 0.12);
  display: flex;
  background-color: $main-color;
  border-radius: 10px;
  min-width: 812px;
  align-items: center;
  &__day {
    background-color: #f5f5f5;
    padding: 30px 52px 30px 50px;
    min-width: 200px;
    font-weight: 500;
    font-size: 22px;
    color: #000000;
    border-right: 2px solid #e7ebf0;
    border-radius: 10px 0 0 10px;
  }
  &__text {
    font-weight: 500;
    font-size: 24px;
    color: #23235f;
    padding: 19px 24px 17px 24px;
    margin-left: 2px;
    background: #fdfdfd;
  }
  &__delete {
    transition: 500ms;
    background: none;
    margin-left: auto;
    margin-right: 20px;
    padding: 6px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    img {
      width: 30px;
      height: 30px;
    }
    &:hover {
      transition: 500ms;
      background-color: $second-color;
      img {
        filter: brightness(0) invert(1);
      }
    }
  }
  &__form {
    position: relative;
    display: flex;
    gap: 18px;
    width: 100%;
    padding: 8px 8px 8px 24px;
    margin-left: 2px;
    background: #fdfdfd;
  }
}
