.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FBFAFF;
    width: 240px;
    min-height: 100vh;
    &__logo {
        margin-top: 30px;
        width: 100px;
    }
}
