.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FBFAFF;
    width: 123px;
    min-height: 100vh;
    &__logo {
        margin-top: 28px;
        width: 66px;
    }
}
